.container
{
  display: grid;
  grid-template-columns:2% 15% 81% 2%;
  grid-template-rows: 2vh 5vh 80ch 6vh 2vh;
  grid-auto-flow: row;
  margin-top: 30px;
  border: 1px solid black;
}
header
{
  grid-column: 2/4;
  grid-row-start:2;
  grid-row-end: 3;
  background-color: blue;
}
.img1
{
  width: 100%;
  height: auto;
}
nav
{
  grid-column: 2/3;
  grid-row: 3/4;
  background-color: green;
}
