.container
{
  display: grid;
  grid-template-columns: 2vh 20vh 66vh 10vh 2vh;
  grid-template-rows: 1fr 20% 50% 20% 1fr;
  grid-auto-flow: row;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
}
header
{
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start:2;
  grid-row-end: 3;
  background-color: blue;
}
nav
{
  grid-column: 3/4;
  grid-row: 2/3;
}
