h1
{
  font-size: 48px;
  font-style: normal;
}
.main
{
  >background-color: #d3d3d3;
  /*background-image: url("Bilder/visitenkarte front1.png");
  background-repeat: no-repeat;
  background-position: center 150px;
  */
}
ul
{
  border: none;
          padding: 0;
          display: table;
          width: 100%;
}
li
{
  display: table-cell;
  background-color: lightblue;
           border: none;
           width: 20%; /* je nach Anzahl der li-Elemente anpassen */
           text-align: center;
}
a
{
  color: black;
	padding: .2em;
  text-decoration: none;
  font-size: 130%;
}
a:hover
{
	text-decoration: underline;
	color: red;
}
.Logo
{
text-align: center;
}
